.block-category-sidebar-left{
  ul.menu{
    padding: 0px;
    margin: 0px;
    display: table;
    li{
      margin: 0px;
      list-style: none;
      display: block;
      float: left;
      width: 50%;
      padding: 5px;

    }
  }
}