.view-tim-kiem{
  position: relative;
  .view-header{
    margin-top: 65px;
    h3{
      display: block;
      border-bottom: 2px solid #2980b9;
      margin-bottom: 10px;
      color: #2980b9;
      font-size: 20px;
      font-weight: 300;
      text-transform: uppercase;
      &:after{
        font-family: "FontAwesome";
        content: " \f105";
        font-size: 20px;
      }
    }
  }
  .view-filters{
    position: absolute;
    top: 0px;
    left: 0px;
    .form-text{
      border: 1px solid $color_gray;
      padding: 5px;
    }
    .views-exposed-form .views-exposed-widget .form-submit{
      margin-top: 0px;
      padding: 5px 10px;
      color: $color_white;
      background-color: $color_green;
    }
  }
  &>.view-content{
    .views-row{
      margin-bottom: 5px;
    }
    .row-content{
      padding: 0px;
      border: none;
      border-radius: inherit;
      box-shadow: none;
      .views-field-title{
        text-align: center;
      }
      .views-field-field-image{
        float: none;
        width: 100%;
      }
      .views-field-changed,.views-field-field-author,.views-field-field-rating,.views-field-field-category{
        display: none;
      }
      .story-info{
        position: relative;
        .views-field-views{
          display: inline-block;
          position: absolute;
          bottom: 100%;
          right: 0px;
          color: $color_white;
          background-color: rgba(68, 68, 68, 0.6);
          padding: 2px 10px;
          font-size: 13px;
        }
      }

      .views-field-field-state{
        text-align: center;
        font-size: 12px;
        color: #999;
        padding: 3px 0;
        margin: 0;
      }
      .views-field-field-current-chapter{
        text-align: center;
        font-size: 12px;
        color: #999;
        padding: 3px 0;
        margin: 0;
      }
    }
  }

  .view-display-id-block{
    .views-field .views-field-title{
      text-align: left;
    }
  }
}
.view-tim-kiem .view-tim-kiem-author > .view-content {
  .views-row{
    margin-bottom: 5px;
    .row-content {
      border: 1px solid $color_gray;
      border-radius: 3px;
      padding: 10px;
      height: 50px;
      .views-field-title{
        text-align: left;
      }
    }
  }
}

.page-tim-kiem{
  #post-content{
    .title{
      margin-top: 10px;
      margin-bottom: 0px;
      padding-left: 5px;
      padding-top: 5px;
      display: block;
      background-color: $color_white;
      border-radius: 3px 3px 0px 0px;
      border-right: 1px solid #e1e1e1;
      border-left: 1px solid #e1e1e1;
      border-top: 1px solid #e1e1e1;
    }
  }
  .block-system{
    margin-top: 0px;
    border-top:none;
    border-radius: 0px 0px 3px 3px;
  }
}