.view-search{
  position: relative;
  .view-header{

  }
  .view-filters{

  }
  &>.view-content{
    .views-row{
      .row-content{
        .views-field-title{
          h3{
            font-size: 14px;
            font-weight: bold;
            margin: 0px;
          }
        }
        .views-field-field-image{
          float: left;
          width: 40%;
          margin-right: 15px;
        }
        .views-field-changed,
        .views-field-field-author,
        .views-field-field-category,
        .views-field-totalcount,
        .views-field-field-state,
        .views-field-field-current-chapter{
          font-size: 12px;
          color: $color_gray_1;
          margin-top: 3px;
        }
      }
    }
  }

}
@include bp(min-width,$bp-tablet+1){
  .view-search{
    .views-row{
      &:nth-child(-n+6){
        .row-content{
          .views-field-field-image{
            margin-bottom: 10px;
          }
        }
      }
      &:nth-child(n+7){
        width: 25%;
        .row-content{
          padding: 0px;
          border: none;
          border-radius: inherit;
          box-shadow: none;
          .views-field-title{
            text-align: center;
          }
          .views-field-field-image{
            float: none;
            width: 100%;
          }
          .views-field-changed,.views-field-field-author,.views-field-field-rating,.views-field-field-category{
            display: none;
          }
          .story-info{
            position: relative;
            .views-field-totalcount{
              display: inline-block;
              position: absolute;
              bottom: 100%;
              right: 0px;
              color: $color_white;
              background-color: rgba(68, 68, 68, 0.6);
              padding: 2px 10px;
              font-size: 13px;
            }
          }

          .views-field-field-state{
            text-align: center;
            font-size: 12px;
            color: #999;
            padding: 3px 0;
            margin: 0;
          }
        }
      }
    }
  }
}