.node-type-story{
  .block{
    &.block-system{
      background: transparent;
      border: none;
      margin-right: -10px;
      margin-left: -10px;
      margin-top: 0px;
    }
  }
  h1.content-title{
    text-align: center;
    margin: 0px 0px 10px 0px;
    color: $color_red_1;
  }
  .node-full{
    .group-row{
      background: #fff;
      border: 1px solid #e1e1e1;
      border-radius: 3px;
      padding: 10px;
      display: table;
    }

    .form-item{
      margin: 0px;
      .field-item{
        font-size: 18px;
      }
    }
    .field-user{

      margin-bottom: 5px;
      a{
        font-size: 18px;
      }
    }
    .field-name-field-image{
      margin-bottom: 15px;
    }
    .field-name-field-author{
      a{
        @include iconFontAwesome('\f007');
      }
    }
    .field-name-field-category{
      a{
        @include iconFontAwesome('\f02c');
      }
    }
    .field-name-field-state{
      .field-item{
        @include iconFontAwesome('\f1eb');
      }
    }
    .social-buttons{
      border: 1px dashed $color_gray_1;
      padding: 7px;
      text-align: center;
    }
    .field-name-field-rating{
      text-align: center;
      margin-bottom: 10px;
      .field-label{
        display: none;
      }

      div.fivestar-widget .star{
        display: inline-block;
        float: inherit;
      }
    }
    .group-right{
      .view-chapter{
        text-align: center;
        padding-top: 5px;
        padding-bottom: 15px;
        a{
          padding: 5px 15px;
          background-color: $color_green;
          color: white;
          display: inline-block;
        }
      }
      .btn-add-favorites{
        padding: 5px 15px;
        background-color: $color_green;
        color: white;
        display: inline-block;
        margin-left: 15px;
      }
    }
  }

  .view-chapter{
    ul{
      li{
        display: block;
        border-bottom: 1px dashed $color_light_gray;
        padding: 10px 0px 10px 0px;
        .row-content{
          display: table;
          table-layout: fixed;
          width: 100%;
          &>div{
            display: table-cell;
          }
          .views-field-created{
            width: 100px;
            font-size: 14px;
            text-align: right;
          }
        }

      }
    }
  }
  .pager-load-more{
    a{
      padding: 5px 10px;
      background-color: $color_yellow;
      display: inline-block;
      color: $color_white;
    }
  }

  .more-link,.less-link{
    color: $color_green;
  }
}

.facebook-comment{
  margin-top: 10px;
  margin-bottom: 10px;
  background: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  padding:10px;
  label{
    border-bottom-color: $color_green;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    color: $color_green;
    display: block;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
}

.comment-block{
  background: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  padding:10px;
  a{
    color: $color_green;
  }
}

@include bp(max-width,$bp-tablet){
  .node-type-story{
    .node-full{
      .group-row{
        .group-left{
          .field-name-field-image{
            float: left;
            width: 40%;
            margin-right: 10px;
          }
        }
        .group-right{
          display: table;
          width: 100%;
          margin-top: 15px;
        }
      }
    }
  }
}