body{
  background: $color_light_gray;
  padding: 0px;
  margin: 0px;
  color: $color_light_black;
  font-size: 14px;
  #wrap{
    border-top: none;
  }
}
a{
  color: $color_light_black;
}
*{
  outline: none;
}
.block {
  display: block;
  background: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  margin-top: 10px;
  padding: 10px;
  span.title {
    display: block;
    border-bottom: 2px solid #2980b9;
    margin-bottom: 10px;
    color: #2980b9;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    &:after{
      font-family: "FontAwesome";
      content: " \f105";
      font-size: 20px;
    }

  }
}

.views-row{
  .row-content{

    .views-field-field-image {
      overflow: hidden;
      img {
        max-width: 100%;

        -moz-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
      }
    }
    &:hover{
      .views-field-field-image img {
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }
}

.text-red{
  color: $color_red;
  font-weight: bold;
  span,a,i,p{
    color: $color_red;
    font-weight: bold;
  }
}
img{
  max-width: 100%;
  height: auto;
  display: block;
}
select,input[type=submit]{
  cursor: pointer;
}
.view-filters{
  select,input{
    border-radius: 0px;
    border: none;
    padding: 5px;



  }
  select {
    padding: 3px 10px;
    background: transparent url('/sites/all/themes/oms/images/angle-down.png') no-repeat scroll right center;
    border: none;
    border-radius: 25px;
    margin-left: 4px;
    background-color: $color_gray !important;
    color: $color_white;
    /*for firefox*/
    -moz-appearance: none;
    /*for chrome*/
    -webkit-appearance:none;
  }
}

select::-ms-expand{
  display: none !important;
}

.view{
  .views-exposed-form .views-exposed-widget{
    padding: 5px 5px 0px 0px;
    .views-submit-button{
      display: none;
    }
  }

}


@include bp(max-width,$bp-tablet){

  .views-row{

    .views-field-field-image{
      .field-content{
        text-align: center;
        a{
          display: inline-block;
        }
      }
    }
  }
}