$color_green: #1e7f3c;
$color_blue: #4caf50;
$color_light_gray: #eee;
$color_gray: #9e9e9e;
$color_gray_1: #999;
$color_gainsboro: #f2f2f2;
$color_black: #333;
$color_light_black: #444;
$color_white:#fff;
$color_red:#f44336;
$color_red_1:#e74c3c;
$color_yellow: #FFC107;

/* Break point */
$bp-small: 480px;
$bp-mobile: 767px;
$bp-tablet: 767px;
$bp-laptop: 1279px;
$bp-desktop: 1399px;

