@font-face {
  font-family: 'Segoe UI';
  src: url("/sites/all/themes/oms/fronts/segoe-ui.eot");
  /* IE9 Compat Modes */
  src: url("/sites/all/themes/oms/fronts/segoe-ui.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/oms/fronts/segoe-ui.woff") format("woff"), url("/sites/all/themes/oms/fronts/segoe-ui.ttf") format("truetype"), url("/sites/all/themes/oms/fronts/segoe-ui.svg#Segoe UI") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Segoe UI';
  src: url("/sites/all/themes/oms/fronts/segoe-ui-bold.eot");
  /* IE9 Compat Modes */
  src: url("/sites/all/themes/oms/fronts/segoe-ui-bold.eot?#iefix") format("embedded-opentype"), url("/sites/all/themes/oms/fronts/segoe-ui-bold.woff") format("woff"), url("/sites/all/themes/oms/fronts/segoe-ui-bold.ttf") format("truetype"), url("/sites/all/themes/oms/fronts/segoe-ui-bold.svg#Segoe UI") format("svg");
  /* Legacy iOS */
  font-weight: bold;
  font-style: normal; }
/* Variables */
/* Break point */
/* Mixin */
/* Mixin style */
/* animation */
/* appearance */
/* border radius */
/* box-shadow */
/* custome font */
/* filter */
/* transform */
/* transition */
/* placeholder */
/* opacity */
/* breakpoint with one condition(min or max) */
/* breakpoint with two conditions (min and max) */
.block-newest-story .item-list ul {
  padding-left: 0px; }
  .block-newest-story .item-list ul li {
    list-style: none;
    margin: 0px;
    display: table;
    width: 100%;
    border-bottom: 1px solid #eee;
    padding: 5px; }
.block-newest-story .views-row .views-field-field-image {
  float: left;
  width: 40px;
  margin-right: 10px; }
.block-newest-story .views-row .row-info .views-field-totalcount {
  color: #999;
  font-size: 12px; }

.view-search {
  position: relative; }
  .view-search > .view-content .views-row .row-content .views-field-title h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 0px; }
  .view-search > .view-content .views-row .row-content .views-field-field-image {
    float: left;
    width: 40%;
    margin-right: 15px; }
  .view-search > .view-content .views-row .row-content .views-field-changed,
  .view-search > .view-content .views-row .row-content .views-field-field-author,
  .view-search > .view-content .views-row .row-content .views-field-field-category,
  .view-search > .view-content .views-row .row-content .views-field-totalcount,
  .view-search > .view-content .views-row .row-content .views-field-field-state,
  .view-search > .view-content .views-row .row-content .views-field-field-current-chapter {
    font-size: 12px;
    color: #999;
    margin-top: 3px; }

.field-name-field-views-story .field-label {
  padding: 5px 10px;
  margin-bottom: 15px;
  text-align: center;
  border: 1px dashed #eee; }
.field-name-field-views-story .views-row {
  margin-bottom: 5px; }
.field-name-field-views-story .view-content {
  margin-left: -5px;
  margin-right: -5px; }

.node-type-author .form-type-item {
  margin: 0px; }
.node-type-author .content-title {
  margin-top: 0px;
  padding-top: 0px; }
.node-type-author .comment-block {
  display: none; }

.block-short-story .views-row {
  width: 50%;
  float: left; }
  .block-short-story .views-row.views-row-1 .row-content {
    position: relative; }
    .block-short-story .views-row.views-row-1 .row-content .row-info {
      position: absolute;
      width: 100%;
      bottom: 0px;
      text-align: center;
      padding-bottom: 20px; }
      .block-short-story .views-row.views-row-1 .row-content .row-info a {
        color: #fff;
        font-weight: bold; }
  .block-short-story .views-row:nth-child(n+2) {
    height: 47px; }
    .block-short-story .views-row:nth-child(n+2) .views-field-field-image {
      width: 100px;
      float: left;
      padding-left: 10px; }
    .block-short-story .views-row:nth-child(n+2) img {
      height: 41px;
      width: auto; }

@media only screen and (max-width: 767px) {
  .block-short-story .views-row {
    width: 100%;
    float: none;
    display: table; }
    .block-short-story .views-row.views-row-1 .row-content {
      position: relative; }
      .block-short-story .views-row.views-row-1 .row-content .row-info {
        position: inherit;
        width: 100%;
        bottom: 0px;
        text-align: left;
        padding-bottom: 20px; }
        .block-short-story .views-row.views-row-1 .row-content .row-info a {
          color: #333;
          font-weight: normal; }
    .block-short-story .views-row:nth-child(n) {
      height: auto; }
      .block-short-story .views-row:nth-child(n) .views-field-field-image {
        width: 30%;
        float: left;
        padding-left: 0px; }
      .block-short-story .views-row:nth-child(n) .views-field-title a {
        padding-left: 10px; }
      .block-short-story .views-row:nth-child(n) img {
        height: auto;
        width: 100%; } }
.footer {
  background-color: #333; }

/*# sourceMappingURL=style.css.map */
